@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

div {
    background-color: rgb(255, 255, 255);
}

main {
    text-align: center;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 92px;
}

h2 {
    font-size: 60px;
}

p#guanabara {
    text-align: unset;
    background-color: lightgray;
    font-size: 26px;
    padding: 30px;
    margin: 30px;
}

p {
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 26px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#gustavo {
    padding-bottom: 30px;
}

p#mais {
    text-align: unset;
    background-color: lightgray;
    font-size: 26px;
    padding: 30px;
    margin: 30px;
}

a {
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}